.Rproj.user
.Rhistory
.RData
.Ruserdata

*.html

### PsychoPy Logfiles ###
# COG-ED
**/01_Paradigms/COG-ED/data/
# ER-ED
**/01_Paradigms/ER-ED/ER_ED/data/

### Files T2 ####

**/04_RawData/main/ER-ED

# Bib
*.sav.tmp

# additional LaTeX output
*.aux
*.log
*.out
